html {
  font-family: Overpass, sans-serif;
}

section {
  background-image: linear-gradient(to bottom, #ff5e3a, #ff9500);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #fff;
}

.btn {
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
}

p {
  color: #fff;
}

h2 {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 60em) {



}
